@{
    Layout = "~/Views/Shared/_LeftSidebar.cshtml";
    ViewData["Title"] = "商户列表";
}
<div class="listview">
    <table>
        <thead>
            <tr>
                <td>商户编号</td>
                <td>商户名称</td>
                <td>商户类型</td>
                <td>账户状态</td>
                <td>法人姓名</td>
                <td>法人手机号</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
