<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"]) - 商户系统</title>
    @(Styles.Render("~/css/global"))@(RenderSection("Styles", false))
</head>
<body>@(RenderBody())@(RenderSection("Scripts", false))</body>
</html>